.myt-list {
  justify-content: center;
}

.btn.pin-card-btn {
  margin: 0;
  top: -16px;
  right: 16px;
  padding: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-color: transparent !important;

  &.pinned {
    background-image: url("../../../../assets/icons/push_pin.png") !important;
  }
  &.unpinned {
    background-image: url("../../../../assets/icons/unpin-left.png") !important;
  }
}

.card.card-chart {
  overflow: inherit;
  margin-bottom: 10px;

  .card-header {
    margin: 5px 0.8em 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .card-body {
    text-align: center;
    padding-left: 1.2em;
    padding-right: 1.2em;
  }

  .card-footer {
    padding: 0.7em;
  }

  .card-footer .stats {
    width: 100%;
  }

  .card-options {
    text-align: right;
    flex: 44% 0 102;
    margin-top: 5px;
  }

  ::ng-deep {
    .mat-form-field {
      margin-bottom: 0.6em;
    }

    .mat-form-field-infix {
      width: auto;
    }

    .mat-button-toggle-label-content {
      padding: 0 0.7em;
    }
  }

}

.legion-icon {
  flex: 100px 0 0;
  height: 100px;
  margin-top: -0.7em;
  background-image: url("../../../../assets/images/legions.png");
  background-position: -6% 11%;
  background-size: 400%;
  border-radius: 8px;
  transition: all 0.2s ease;
  position: relative;

  .custom-legion-container {
    position: absolute;
    background: rgba(0,0,0,0.4);
    margin-left: auto;
    margin-right: auto;
    left: 4px;
    right: 0;
    border-radius: 0.4285rem;
    width: 70%;
    height: 100%;

    .form-control {
      font-size: 1.3em;
      padding: 6px;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.custom {
    background-image: url("../../../../assets/images/custom-legion.png");
    background-position: center;
    background-size: 200%;
  }

  &.kakul-saydon {
    background-position: -6% 11%;
  }

  &.akkan {
    background-position: 17% 11%;
  }

  &.thaemine {
    background-position: 39% 11%;
  }

  &.brelshaza {
    background-position: 61% 11%;
  }

  &.vykas {
    background-position: 83% 11%;
  }

  &.valtan {
    background-position: 105% 11%;
  }

  mat-icon {
    padding-top: 40%;
    height: 100%;
    text-shadow: 1px 2px black;

    &:hover {
      cursor: pointer;
      transform: translateY(1px)
    }
  }

  mat-icon:first-child {
    margin-left: -0.2em;
    float: left;
  }
  mat-icon:last-child {
    margin-right: -0.2em;
    float: right;
  }
}

@media screen and (min-width: 576px) {
  .card.card-chart {
    .card-body {
      padding-left: 0.7em;
      padding-right: 0.7em;
    }
  }
}




