[Unit]
Description=Daphne Service
After=syslog.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/srv/myt
Restart=always
ExecStart=/home/ubuntu/myvenv/bin/daphne -b 0.0.0.0 -p 9001 myt.site.asgi:application

[Install]
WantedBy=multi-user.target