<div class="content" cdkDropListGroup>
  <div class="container-fluid">

    <div class="row dashboard-header">
      <mat-icon [matBadge]="connectedUserNum" matBadgePosition="above before" matBadgeColor="accent">wifi</mat-icon>
    </div>

    <div class="row">

      <div class="col-xl-12 col-lg-12">
        <div class="card">

          <div class="card-header">
            <form class="input-group no-border" (ngSubmit)="addMyt()">
              <input type="text" [(ngModel)]="characterName" name="cname"
                     class="form-control" placeholder="캐릭명...">
              <button matRipple [matRippleColor]="rippleColor" type="submit"
                      class="btn btn-default btn-round btn-just-icon">
                <mat-icon>add</mat-icon>
              </button>
            </form>
          </div>

          <div class="card-footer">
            <ng-container *ngIf="loading">
              <div class="overlay"></div>
              <mat-spinner></mat-spinner>
            </ng-container>
            <div class="badge-wrapper">

              <div cdkDropList id="myt-source-list" class="myt-list"
                   cdkDropListSortingDisabled
                   [cdkDropListData]="myts" (cdkDropListDropped)="onDropSource($event)">
                <myt *ngFor="let myt of myts" [myt]="myt" cdkDrag></myt>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="display-toggle">
      <mat-button-toggle-group [(ngModel)]="displayOption" (change)="reloadMasonryLayout()">
        <mat-button-toggle value="card">
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="accord">
          <mat-icon>view_headline</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <cdk-accordion class="myt-accordion" [hidden]="displayOption=='card'">
      <cdk-accordion-item
        *ngFor="let mytCard of mytCards; let index = index;"
        #accordionItem="cdkAccordionItem"
        class="accord-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        <myt-accord
          (mytOnDrop)="onDropCard($event)"
          [mytCard]="mytCard"
          [accordionItem]="accordionItem"
          [index]="index">
        </myt-accord>
      </cdk-accordion-item>
    </cdk-accordion>

    <ngx-masonry [options]="ngxMasonryOptions" class="row-cards" [hidden]="displayOption=='accord'">

      <div ngxMasonryItem class="masonry-item">
        <div class="add-card">
          <ng-container *ngIf="loadingNewCard">
            <div class="overlay"></div>
            <mat-spinner></mat-spinner>
          </ng-container>
          <div cdkDropList id="myt-add-card" class="myt-list"
               cdkDropListSortingDisabled
               [cdkDropListData]="temporaryMyts" (cdkDropListDropped)="onDropAdd($event)">
            <mat-icon class="add-icon">note_add</mat-icon>
          </div>
        </div>
      </div>

      <div *ngFor="let mytCard of mytCards" ngxMasonryItem class="masonry-item">
        <myt-card class="myt-card" (mytOnDrop)="onDropCard($event)" [mytCard]="mytCard"></myt-card>
        <button class="btn btn-default btn-round btn-just-icon delete-card-btn"
          (click)="deleteCardOnClick(mytCard)">
          <mat-icon>close</mat-icon>
        </button>
      </div>

    </ngx-masonry>

  </div>
</div>



