.masonry-item {
  width: 100%;
  padding: 0.6em;
}

.row-cards {
  margin: 0 -10px;
}

.badge-wrapper {
  display: block;
  width: 100%;
  padding: 0 2.2em;
}
.input-group {
  width: 300px;
}
.add-card {
  outline: 2px dashed #8b92a9;
  outline-offset: -3px;
  width: 100%;
  min-height: 200px;
  display: flex;

  .myt-list {
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    height: 83px;
  }

  .add-icon {
    font-size: 5em;
    position: relative;
    color: white;
    height: auto;
    width: auto;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  backdrop-filter: blur(2px);
}

.btn.btn-just-icon.delete-card-btn  {
  margin: 0;
  top: -5px;
  right: -5px;
  position: absolute;
  min-width: 30px;
  width: 30px;
  height: 30px;

  .material-icons {
    line-height: 30px;
  }
}

.myt-accordion {
  .accord-item {
    display: block;
  }
}

.navbar-nav {
  margin-left: -20px;

  li {
    padding: 0 8px;
  }
}

.display-toggle {
  margin-top: -15px;
  margin-bottom: 15px;
  text-align: right;
}

.dashboard-header {
  text-align: right;
  margin-bottom: 8px;
  padding: 0 27px;
  flex-direction: row-reverse;
  justify-content: space-between;

  .mat-icon {
    font-size: 30px;
    position: relative;
  }

  ::ng-deep {
    .mat-badge-content {
      position: absolute;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      transition: transform 200ms ease-in-out;
      transform: scale(0.6);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      pointer-events: none;
      background: #ff4081;
      color: #fff;
      width: 22px;
      height: 22px;
      line-height: 21px;
      top: -4px;
      left: -11px;
      font-weight: 600;
      font-size: 12px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    .mat-badge-content.mat-badge-active {
      transform: none;
    }
  }
}

@media screen and (min-width: 576px) {
  .badge-wrapper {
    padding: 0 1em;
  }
  .masonry-item { width: 50%; }
  .add-card {
    min-height: 264px;
    .myt-list {
      margin-top: 6em;
    };
  }
}

@media screen and (min-width: 768px) {
  .masonry-item { width: 33.333%; }
}

@media screen and (min-width: 992px) {
  .masonry-item { width: 25%; }
}


